*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
}

.border{
    border-bottom: 1px solid #FFFFFF;
}



header{
    width: 100%;
    height: 20vh;
    background-color: #ECF2FB;
}

header > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


main {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

main > h1{
    font-family: 'Inter', sans-serif;
}

.resume {
    width: 70%;
    margin: auto;
    border-radius: 12px;
    font-family: "Inter", sans-serif;
    display: flex;
}

.left{
    width: 30%;
    font-family: inherit;
    background-color: #1B2531;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    gap: 20px;
    color: #FFFFFF;

}
.left > div{
    width: 100%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 15px 0;
}
.heading{
    font-size: 20px;
    font-weight: 100;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-left: 12px;
}
.span-heading{
    font-size: 14px;
}
.contact-info a{
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    gap: 3px;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0px 0 10px 0;
    
}

.skill-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    margin-left: 12px;
}

.skill-list > span::before{
    content: "•";
    margin-right: 8px;
}

.language{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    padding: 0px 0 10px 0;
}

.language-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    margin-left: 12px;
}



.right{
    flex: 1;
    font-family: inherit;
    background-color: #FFFFFF;
}

